.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  border: 2px solid transparent;
  border-radius: 6px;
  font-size: 16px;
  color: #999;
  pointer-events: none;
  z-index: 1;
  background: white;
}

.transparent {
  color: transparent;
}

.hint {
  color: #ccc;
}
